#paper {
	height: 700px;
	z-index: 1;
	margin: 40px 0;
	border: 1px solid #eee;
}

#editor {
	width: 300px;
	min-height: 100px;
	position: absolute;
	background: #5affcc;
	top: 20px;
	right: 0;
	z-index: 2;
	display: none;
	padding: 10px 0 0;

	&.shown {
		display: block;
	}

	.close {
		position: absolute;
		z-index: 3;
		top: 5px;
		right: 5px;
	}
}

#top-utils {
	position: absolute;
	top: 0;
	left: 20px;
	background: green;
	width: 100%;
	padding: 10px;
	text-align: center;

	.btn-group {
		margin: 0 10px;
	}
}

.StartEntity polygon {
	stroke: #D23D3D;
}

.Group polygon {
	stroke: #516fd2;
}

.embedded .outer {
	fill: #000;
}